{
    "presets": ["babel-preset-expo"],
    "plugins": [
      [
        "@babel/plugin-proposal-decorators",
        {
          "legacy": true
        }
      ]
    ],
    "env": {
        "development": {
            "plugins": ["@babel/transform-react-jsx-source"]
        }
    }
}